wikidata~=0.7.0
spacy==2.1.0
neuralcoref==4.0
requests~=2.25.1
pandas~=1.2.2
numpy~=1.19.2
wikipedia~=1.4.0
bs4~=0.0.1
beautifulsoup4~=4.9.3
tqdm~=4.60.0
nltk~=3.6.1
scikit-learn~=0.24.1
scipy~=1.6.1
torchkge~=0.16.25
tensorflow-gpu==2.4.1
tensorflow-hub~=0.12.0
torch~=1.7.1
transformers~=4.5.0
xgboost~=1.4.2
penman>=1.1.0
cached_property
networkx